<header>
    <div class="brand">
        <h2 style="margin-left: 1rem;">Data Update</h2>
    </div>
    <div class="sub-menu">
        <a *ngIf="role=='submitor'" routerlink="/home" (click)="navigateTo('/home',$event)">Home</a>
        <a *ngIf="role=='submitor'" routerlink="/template" (click)="navigateTo('/template',$event)">Template Query</a>
        <a *ngIf="role=='executor'" routerlink="/execute" (click)="navigateTo('/execute',$event)">Execute</a>
        <a *ngIf="role=='executor'" routerlink="/admin" (click)="navigateTo('/admin',$event)">Admin</a>
    </div>
    <div class="login-status">

    </div>
</header>