.wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

#user, #password{
    width: 100%;
    flex-grow: 2;
    margin-left: 0;
}

#user input,#password input{
    width: 100%;
}


button{
    width: 100%;
    flex-grow: 1;
}





