.errorMsg{
    background-color: #F88E8E;
    color: whitesmoke;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.3;
    margin: 0 0 0.5rem 0;
}

.successMsg{
    background-color: rgb(146, 247, 121);
    color: rgba(57, 109, 8, 0.596);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.3;
    margin: 0 0 0.5rem 0;
}