h3{
    text-align: center;
    background-color: #210E0D;
    color: #FFCF75;
    width: 100%;
}
.wrapper{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.user-input{
    display: flex;
    flex-direction: column;
}

.form-control{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-control div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0.2rem;
}

textarea{
    height: 5rem;
    resize: none;
    width: 99%;
}

button{
    width: 100%;
    background-color: #FFCF75;
    color:  #210E0D;
    margin-left:0 0 0 0;
    border: 0.1rem solid #210E0D;
    border-radius: 0.2rem;
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    flex: 1 1 0;
    font-weight: bold;
    font-size: smaller;
}

select{
 
    background-color: #FFCF75;
    color:  #210E0D;
    border: 0.1rem solid #210E0D;
    border-radius: 0.2rem;
    font-weight: bold;

}

.status{
    display: flex;
    flex-direction: row;
}

.submitted-query{
    max-width: 50%;
    min-width: 50%;
    display:flex;
    flex-direction: column;
    color: #FFCF75;
}

.validated-query{
    display:flex;
    flex-direction: column;
    width: 100%;
    color: #FFCF75;
}

.card-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 49%;
    background-color: #AA7539;
    color: #210E0D;
    margin-left: 0.1rem;
    margin-bottom: 0.1rem;;
}


.update-query{

    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    font-size: smaller;
    max-height: 2rem;
}

.information-block,.action-block{
    display: flex;
    flex-direction: row;
    font-size: smaller;
    margin-top: 0.5rem;
}

.information-block div{
    border: 0.1rem solid #552E00;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    flex-grow: 1;
    max-width: 50%;
    max-height: 2rem;
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    font-size: smaller;
    color: whitesmoke;
    background-color: #718EA4;
}

.action-block button{
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    max-width: 50%;
    max-height: 2rem;
}

.error {
    background-color: #AA3C39;
    color: #FF7975;
}

button:disabled{
    background-color: gray;
}

select:disabled{
    background-color: gray;
}

.show-data{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin:auto;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 2;
    cursor: pointer;
    background-color: black;
    color: whitesmoke;
    width: 50%;
    max-height: min-content;
    justify-content: flex-start;
    align-content: flex-start;
}

.show-data div{
    margin-top: 1rem;
}

.show-data table{
    margin-top: 1rem;
}

.show-data button{
    margin-top: 1rem;
    max-height: 2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.errorMsg{
    background-color: #F88E8E;
    color: whitesmoke;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.3;
    margin: 0 0 0.5rem 0;
}

.successMsg{
    background-color: rgb(146, 247, 121);
    color: rgba(57, 109, 8, 0.596);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.3;
    margin: 0 0 0.5rem 0;
}